.App {
  background-color: rgb(250, 237, 198);
  padding: 50px 0px;
}
p {margin: 0px;
  padding: 0px;
}
.wrapper{
  width: 1000px;
  background-color: rgb(219, 213, 125);
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px 20px;
}
/* .search-input{
} */
#search-input{
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.btn-add{
  height: 46px;
  width: 100px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(241, 197, 138);
}
/* .todoitem-warpper{
} */
.todoitem {
  text-align: left;
  margin: 0 auto 10px;
  padding: 15px;
  height: 36px;
  width: 500px;
  border: 1px solid transparent;
  background-color: bisque;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tool{
  display: flex ;
  padding: 5px;
  align-items: center;
}
.check-box{
  /* margin: 0;
  padding: 0; */
  align-items: center;
}
#trash-can{
  /* height: 13px;
  width: 13px; */
  margin: 3px;
  font-size: 13px;
  align-items: center;

}
#edit{
/* height: 13px;
width: 13px; */
margin: 3px;
font-size: 13px;
align-items: center;

}

.check-wrapper{
  padding: 5px;
  margin-right: 20px;
}
.trash-can-wrapper{
  padding: 5px;
  margin-right: 20px;
}
.edit-wrapper{
  padding: 5px;
  margin-right: 20px;
}
.check-wrapper:hover{
  animation: check-box-ani 1s ease;
  animation-fill-mode: forwards;
}
.trash-can-wrapper:hover{
  animation: check-box-ani 1s ease;
  animation-fill-mode: forwards;
}
.edit-wrapper:hover{
  animation: check-box-ani 1s ease;
  animation-fill-mode: forwards;
}
@keyframes check-box-ani {
  0% {
    border: 1px solid transparent;
    width: 20px;
    height: 20px;
      background-color: rgb(48, 43, 43);
      opacity: 0.3;
      border-radius: 50%;
  }
  100%{
    border: 1px solid transparent;
    width: 20px;
    height: 20px;
      background-color: rgb(48, 43, 43);
      opacity: 0.3;
      border-radius: 10px;
      
  }
}
